name: "cicd_folio"
on:
    push:
        branches:
        - master
jobs:
    deployment:
        runs-on: ubuntu-latest
        steps:

        - name: List the directory
          run: |
            ls

        - name: List the directory
          uses: actions/checkout@v4

        - name: List the directory again
          run: |
            ls

        - name: build a docker image using the dockerfile in root directory
          run : |
            sudo docker build -t olaranmmy/cicd_folio .

        - name: Login to dockerhub
          run: 
            sudo docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}

        - name: verify if loggedin by listing by listing all images
          run: |
            sudo docker images

        - name: push the image built to dockerhub
          run: |
            sudo docker push olaranmmy/cicd_folio:latest

        - name: SSH into the instance created
          run: |
            echo "${{ secrets.SSH_KEY }}" >> "sshKey.pem"
            chmod 400 "sshKey.pem"
            ssh -i "sshKey.pem" -o StrictHostKeyChecking=no ubuntu@51.20.5.105
            docker --version


        - name: stop the previous docker container running, pull the new image and run it as a container
          run: |
            sudo docker stop olaranmmy/cicd_folio
            sudo docker pull olaranmmy/cicd_folio
            sudo docker run -d -p 1234:80 --name cicd_folio olaranmmy/cicd_folio
            


    




