name: "cicd_folio"
on:
    push:
        branches:
        - master
jobs:
    deployment:
        runs-on: ubuntu-latest
        steps:

        - name: List the directory
          run: |
            ls

        - name: List the directory
          uses: actions/checkout@v4

        - name: List the directory again
          run: |
            ls

        - name: build a docker image using the dockerfile in root directory
          run : |
            sudo docker build -t olaranmmy/cicd_folio .

        - name: Login to dockerhub
          run: 
            sudo docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}

        - name: verify if loggedin by listing by listing all images
          run: |
            sudo docker images




            # olaranmmy






